<div id="modal_login" class="modal fade" style="overflow:hidden;">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= simple_form_for :sessions, url: sessions_path, html: {class: "form-horizontal"} do |f| %>
				<div class="modal-header">
					<button class="close" type="button", data-dismiss="modal", aria-hidden= true>Close</button>
					<br>
					<div class="row">
						<div class="col-span-4">
							<h2>Login</h2>
						</div>
						<div class="col-span-4">
							<%= f.error_notification %>
							<%= f.input :email, placeholder: 'user@domain.com' %>
							<%= f.input :password %>
						</div>
						<div class="col-span-4">
							<%= f.submit "Login", class: "btn btn-success btn-large" %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
</div>